<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="display-4">Artic Manager</h1>
        <p class="lead">Manage products and categories</p>
    </div>
</div>

<img src="../../assets/home.jpg" class="img-fluid w-100 position-fixed" alt="Responsive image">

<div class="card-deck mt-5 mb-5">
    <div class="card border-0 text-center pt-4 bg-transparent text-light text-shadow">
        <fa-icon [icon]="faBolt" size="6x"></fa-icon>
        <div class="card-body">
            <h5 class="card-title">Fast</h5>
            <p class="card-text">Consult, codes categories and pricing information using the different types of filters to quickly find the articles you need.</p>
        </div>
    </div>

    <div class="card border-0 text-center pt-4 bg-transparent text-light text-shadow">
        <fa-icon [icon]="faInfo" size="6x"></fa-icon>
        <div class="card-body">
            <h5 class="card-title">Decision</h5>
            <p class="card-text">Make better decisions based upon well presented information for you to have everything you need.</p>
        </div>
    </div>

    <div class="card border-0 text-center pt-4 bg-transparent text-light text-shadow">
        <fa-icon [icon]="faSearch" size="6x"></fa-icon>
        <div class="card-body">
            <h5 class="card-title">Fast</h5>
            <p class="card-text">Search and find by different parameters to make your query as specific as you need.</p>
        </div>
    </div>

</div>